
body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
}

h2 {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    text-align: center;
}

a {
    text-decoration: none;
    color: #4CAF50;
}

a:hover {
    text-decoration: underline;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
}


.card {
    position: relative;
    display: inline-block;
    width: 300px;
    margin: 10px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease-in-out;
    overflow: hidden;
}
.card:hover {
    transform: scale(1.05);
    z-index: 1;
}

.dropbtn {
    background-color: #ffffff; /* set background color */
    border: none; /* remove border */
    color: #000000; /* set font color */
    font-size: 16px; /* set font size */
    cursor: pointer; /* change cursor on hover */
    padding: 4px 8px; /* add padding */
    min-width: 50px; /* set minimum width */
    text-align: left; /* align text to left */
}

.dropdown {
    position: absolute;
    top: 10px;
    right: 10px;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}
.dropdown-content a {
    color: #333;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown-content a:hover {
    background-color: #f1f1f1;
}
.show {
    display: block;
}
