
.popup {
    position: fixed;
    top: 32px;
    right: 310px;
    display: inline-block;
    cursor: pointer;
}

.popup .popuptext {
    visibility: hidden;
    width: 300px;
    height: 100px;
    background-color: lightgray;
    color: black;
    text-align: center;
    border: 1px solid black; /* Add black border */
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    top: -30px;
    right: 0;
    left: 0;
    margin: 0 auto;
}

.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}


@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
