<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Welcome to my app</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">

</head>
<body>
<div th:if="${role == 'admin'}" th:insert="~{layouts/admin_header :: header}"></div>
<div th:if="${role == 'staff'}" th:insert="~{layouts/staff_header :: header}"></div>
<div th:if="${role == 'none'}" th:insert="~{layouts/not_logged_header :: header}"></div>
<div th:if="${role == 'patient'}" th:insert="~{layouts/patient_header :: header}"></div>

    <th:block th:each="news : ${infectedToday}">
        <div class="card" style="width: 60rem; margin: 10px auto;">
            <div class="card-body">
                <h5 class="card-title">Infected news:</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary" th:text="${#temporals.format(news.dateTime, 'dd.MM.yyyy HH:mm:ss')}"></h6>
                <p class="card-text">
                    Number of tested patients:          [[${news.tested}]]<br/>
                    Number of infected patients:        [[${news.infected}]]<br/>
                    Number of hospitalized patients:    [[${news.hospitalized}]]<br/>
                    Number of patients on respirators:  [[${news.onRespirator}]]<br/>
                    Infected all time:                  [[${news.infectedAllTime}]]
                </p>
            </div>
        </div>
    </th:block>

    <th:block th:each="news : ${listNews}">
        <div class="card" style="width: 80rem; margin: 0 auto;">
            <div class="card-body">
                <h5 class="card-title">[[${news.name}]]</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary" th:text="${#temporals.format(news.dateTime, 'dd.MM.yyyy HH:mm:ss')}"></h6>
                <p class="card-text">[[${news.content}]]</p>
            </div>
        </div>
    </th:block>
</body>
</html>