<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Welcome to my app</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">

</head>
<body>
    <div th:replace="~{layouts/commonHeader :: header}">...</div>

<!--    <h2><a th:href="@{/users}">Manage users</a></h2>
    <h2><a th:href="@{/manufacturers}">Manage manufacturers</a></h2>
    <h2><a th:href="@{/vaxes}">Manage vaxes</a></h2>
    <h2><a th:href="@{/patients}">Manage patients</a></h2>
    <h2><a th:href="@{/news}">Manage news</a></h2>
    <h2><a th:href="@{/infectedNews}">Manage infected news</a></h2>-->

    <form th:action="@{/login/save}" method="post" style="width: 40vw; margin: auto; padding-top:200px">
        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Unesite email">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <a href="" th:href="@{'/user/new'}" class="btn btn-primary btn-lg " style=" margin-left: 30vw; margin-top: 10px;" role="button"  >Registracija</a>
</body>
</html>