<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Manage manufacturers</title>
    <link rel="stylesheet" type="text/css" th:href="@{/usersTableStyle.css}">
</head>
<body>
<div><h2>Manage news</h2></div>
<div>
    <a th:href="@{/infectedNews/new}"><h3>Add news</h3></a>
</div>
<div>
    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Infected</th>
            <th>Tested</th>
            <th>Hospitalized</th>
            <th>On respirator</th>
            <th>Infected all time</th>
            <th>Date and time</th>
            <th/>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="news : ${listNews}">
            <tr>
                <td>[[${news.id}]]</td>
                <td>[[${news.infected}]]</td>
                <td>[[${news.tested}]]</td>
                <td>[[${news.hospitalized}]]</td>
                <td>[[${news.onRespirator}]]</td>
                <td>[[${news.infectedAllTime}]]</td>
                <td>[[${news.dateTime}]]</td>
                <td>
                    <a th:href="@{'/infectedNews/edit/' + ${news.id}}"><h6>Edit</h6></a>
                    <a th:href="@{'/infectedNews/delete/' + ${news.id}}"><h6>Delete</h6></a>
                </td>
            </tr>
        </th:block>
        </tbody>
    </table>
</div>
</body>
</html>