<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>[[${pageTitle}]]</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"></head>
<body>
<div>
  <div th:replace="~{layouts/commonHeader :: header}">...</div>
  <div style="width: 60rem; margin: 0px auto;">
    <h4>[[${pageTitle}]]</h4>
  </div>

  <form th:action="@{/news/save}" method="post" th:object="${news}"
        style="width: 60rem; margin: 20px auto;">
    <input type="hidden" th:field="*{id}">
    <div class="mb-3">
      <label for="name" class="form-label">Title</label>
      <input type="text" class="form-control" th:field="*{name}" id="name">
    </div>

    <div class="input-group" style="margin-bottom: 10px">
      <span class="input-group-text">Content</span>
      <textarea th:field="*{content}" class="form-control" aria-label="With textarea"></textarea>
    </div>
    <button type="submit" class="btn btn-secondary btn-sm" >Submit</button>
    <button type="button" onclick="cancelForm()" class="btn btn-secondary btn-sm">Cancel</button>
  </form>

</div>

<script type="text/javascript">
  function cancelForm(){
    window.location = "[[@{/news}]]"
  }
</script>

</body>
</html>