<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Manage news</title>
    <link rel="stylesheet" type="text/css" th:href="@{/newsStyle.css}">
</head>
<body>
<div><h2>Manage news</h2></div>
<div class="form-container">
    <form th:action="@{/news/save}" method="post" th:object="${news}">
        <input type="hidden" th:field="*{id}">

        <label>Name</label>
        <input type="text" th:field="*{name}" required minlength="5" maxlength="50">

        <label>Content</label>
        <textarea th:field="*{content}" required></textarea>

        <button type="submit">Add</button>
    </form>
</div>

<div class="news-container">
    <th:block th:each="news : ${listNews}">
        <div class="news">
            <h3>[[${news.name}]]</h3>
            <h4>[[${news.dateTime}]]</h4>
            <p>[[${news.content}]]</p>
            <a th:href="@{'/news/edit/' + ${news.id}}">EDIT</a>
            <a th:href="@{'/news/delete/' + ${news.id}}" onclick="return confirm('Are you sure you want to delete news?')">
                DELETE
            </a>
        </div>
    </th:block>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        $(".dropbtn").click(function() {
            $(this).next(".dropdown-content").toggleClass("show");
        });
    });
</script>
</body>
</html>