<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>[[${pageTitle}]]</title>
  <link rel="stylesheet" type="text/css" th:href="@{/userAddStyle.css}">
</head>
<body>
<div>
  <div><h2>[[${pageTitle}]]</h2></div>

  <form th:action="@{/vaxes/save}" method="post" th:object="${vax}">
    <input type="hidden" th:field="*{id}">

    <label>Name</label>
    <input type="text" th:field="*{name}" required minlength="5" maxlength="50">

    <label>Available number</label>
    <input type="number" th:field="*{availableNum}" required minlength="5" maxlength="50">

    <label>Manufacturer</label>
    <label>
      <select th:field="*{manufacturerId}">
        <option th:each="man : ${manufacturers}" th:value="${man.getId()}" th:text="${man.getName()}">
        </option>
      </select>
    </label>

    <button type="submit">Save</button>
    <button type="button" onclick="cancelForm()">Cancel</button>
  </form>
</div>

<script type="text/javascript">
  function cancelForm(){
    window.location = "[[@{/vaxes}]]"
  }
</script>

</body>
</html>