<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Manage Vaxes</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/popup.css}">
</head>
<body>
<div th:replace="~{layouts/patient_header :: header}">...</div>

<div style="width: 80rem; margin: 20px auto;">

  <div class="popup" th:if="${message}" onclick="popoff()">
    <span class="popuptext show" id="myPopup" th:text="${message}"></span>
  </div>

  <table class="table">
    <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Name</th>
      <th scope="col">Amount left</th>
      <th scope="col">Manufacturer Name</th>
      <th scope="col">Manufacturer Country</th>
      <th scope="col">Apply for vaccination</th>
    </tr>
    </thead>
    <tbody>
    <th:block th:each="vax : ${listVaxes}">
      <tr>
        <td>[[${vax.id}]]</td>
        <td>[[${vax.name}]]</td>
        <td>[[${vax.availableNum}]]</td>
        <td>[[${vax.manufacturer.name}]]</td>
        <td>[[${vax.manufacturer.country}]]</td>
        <td>
          <form th:action="@{'/application/new'}" method="post">
            <input type="hidden" name="vaxId" th:value="${vax.id}" />
            <button type="submit" class="btn btn-secondary btn-sm">Apply</button>
          </form>
        </td>
      </tr>
    </th:block>
    </tbody>
  </table>

</div>
<script>

  function popoff() {
    let popup = document.getElementById("myPopup");
    popup.classList.remove("show");
  }
</script>
</body>
</html>